
/* header */

* {
    padding: 0;
    margin: 0;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#0E1A32; 
    position: absolute;
    z-index: 1;
    box-shadow: 0 0px 1px 0px whitesmoke;
}

header .logo {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .logo img{
    width: 40px;
    border-radius: 2px;
}

header .logo span {
    display: block;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

header ul {
    list-style: none;
}
header .main ul {
    padding: 0;
    margin: 0;
}

header .main ul li {
    margin-top: 20px;
}

header .main {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-left: 50px;
}

a {
    text-decoration: none;
}

header .main li a {
    font-size: 20px;
    color: white;
    font-weight: bold;
    transition-duration: .3s;
    padding: 10px;
    border-radius: 10px;
}

header .main li a:hover {
    color: rgb(86, 86, 228);
    background-color: whitesmoke;
    color:#0E1A32;
}

header .main li {
    position: relative;
    width: 120px;
}

header .main li ul li {
    display: none;
    margin-top: 20px;
    width: 200px;
} 

header .main li ul {
    position: absolute;
    min-height: 50px;
    left:0;
    transition-duration: .5s;
}

header .main li ul li a:hover {
    color: rgb(86, 86, 228);
}
header .main li ul li::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -15px;
    background-color: transparent;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(86, 86, 228);
    transition-duration: .5s;
    transition-delay: .1s;


}
header .main li:hover ul li {
    display: block;
}

header .feature {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .feature .signin {
    width: fit-content;
    text-align: center;
}

header .feature .signin a p {
    margin-top: 10px;
    width: 100px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    transition-duration: .5s;
    transition-delay: .1s;
    text-align: center;
}

header .feature .signin a p:hover {
    background-color: whitesmoke;
    color:#0E1A32;
}

header .feature .darkmode {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 2px whitesmoke;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

header .feature .darkmode input {
    opacity: 0;
}
header .feature .darkmode img {
    position: absolute;
    width: 30px;
    transition: 1s;
}

header .feature .darkmode .sun {
    transform: scale(0);
}

header .feature .darkmode .sun {
    transform: scale(0);
}

header .feature .darkmode input:checked~ .moon {
    transform: rotate(360deg) scale(0);
}

header .feature .darkmode input:checked~ .sun {
    transform: scale(1) rotate(360deg);
}

header .feature .darkmode input:checked~ img {
    transform: rotate(360deg) scale(0);
}

header .feature .darkmode .back {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition-duration: 1s;
    z-index: -1;
}

header .feature .darkmode input:checked~ .back {
    background-color: #f2f2f2;
}
/* header */



#display{
    padding: 9rem 0 2rem 0;
    background-color:#14233f;
}


#display h2,
#reading h2{
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: #f2f2f2;

}
#display span{
    color: red;
}
#display hr,
#reading hr{
    width: 100px;
    height: 3px;
    background-color: red;
    border: none;
    margin: 5px auto 0;
}

#display .row{
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

#display .row .item{
    margin: 0 15px;
    background-color: rgb(117, 159, 197);
    border-radius: 10px;
    transition: all 0.3s ease;
    align-items: center;
  
}

#display .row .item:hover{
    transform: scale(1.03);
}

#display .row .item img{
    max-width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid whitesmoke;
}




#display .row .item .itemContent{
    padding: 0 15px 20px
}
#display .row .item .itemContent h3{
    
    color: black;
}

#display .row .item .itemContent a{
    font-size: 25px;
    color:#0E1A32;
    font-weight: 400px;
    text-decoration: none;
    padding: 10px;
    box-shadow: 0 0 4px 0px black;
    border-radius: 5px;
    transition-duration: .5s;
}

#display .row .item .itemContent a:hover {
    background-color: whitesmoke;
    color:#0E1A32;
}

.container,
.container2{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}

#reading{
    padding: 2rem 0;
    background-color:#14233f;
}

#reading .container{
    margin-top:4rem ;
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 3rem;
}
#reading .container2{
    margin-top:4rem ;
    display: grid;
    grid-template-columns: 5fr 1fr;
    column-gap: 3rem;
}

 h3{
    font-size: 30px;
    color: red;
    margin-bottom: 20px;
}

 p{
    margin-bottom: 20px;
    line-height: 1.8;
    font-size: 18px;
    color: white;
}
#reading  img{
    width: 600px;
    border-radius: 10px;
}

#display .row .item .itemContent h3 {
    color:#f2f2f2;
}

.container .right,
.container2 .left {
    text-align: justify;
}
.container2 .right {
    padding: 10px;
}

.container, .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}





.light-mode{
    background-color: aliceblue;
    color:#0a1324;
    transition: 0.7s;
}

.light-mode header .main li ul li a{
    color: #0a1324;
}

.light-mode header .main li ul li a:hover {
    color: rgb(86, 86, 228);
}

.light-mode header{
    background-color: #3a4e7a;
}

.light-mode header li a,.light-mode .container, .light-mode header .signin a p, .light-mode header .logo span{
    color: whitesmoke;
    transition: 0.7s;
}
.light-mode header .feature .darkmode{
    border: 1px #0a1324 solid;
    transition: 0.7s;
}
.light-mode .container, .light-mode #aboutus li{
    background-color: antiquewhite;
    transition: 0.7s;
}
.light-mode #display{
    background-color: whitesmoke;
}
.light-mode #display .row .item{
    background-color: #3a4e7a;
}
.light-mode #display h2,
.light-mode #reading h2{
    color:#3a4e7a;
}
.light-mode #display .row .item a{
    color: red;
}

.light-mode #display .row .item .itemContent a{
    box-shadow: 0 0 0px 0px whitesmoke;
}

.light-mode #reading{
    background-color: whitesmoke;
}

.light-mode #reading p{
    color: #14233f;
}

.light-mode #reading .container{
    background-color: whitesmoke;
}

.TCS{
    font-weight: bold;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.TCS:hover{
    color:rgb(116, 116, 246);

}